<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BIPOC IN STEM</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Asap&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="homeStyle.css">

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <script src="Home.js" defer> charset = "utf-8" </script>

    <script src="/postTemplate.js" defer></script>

  </head>
  
  <body>

    <header>
      <h1><a href="/">BIPOC IN STEM</a></h1>
      <div class="nav-right">
        <a class="active" href="#">Home</a>
        <a href="Community">Community/Resources</a>
        <a href="About">About</a>

      </div>
    </header>

    {{{body}}}

  </body>
</html>

